.Storage{
    display: flex;
    align-items:baseline;

    .Produto1{
        border: 2px solid #ccc; /* Borda sólida de 2px com cor cinza claro */
        padding: 20px; /* Espaçamento interno */
        margin-bottom: 20px; /* Espaço abaixo de cada produto */
        width: 200px; /* Largura do produto */
        text-align: center; /* Centraliza o conteúdo */
        display: inline-block; /* Para que cada div ocupe apenas o espaço necessário */
        #BtnPro1 {
            width: 50%;
        
            margin-top: 10px;
            padding: 10px 20px;
            }
    }

    .Produto2{
        border: 2px solid #ccc; /* Borda sólida de 2px com cor cinza claro */
        padding: 20px; /* Espaçamento interno */
        margin-bottom: 20px; /* Espaço abaixo de cada produto */
        width: 200px; /* Largura do produto */
        text-align: center; /* Centraliza o conteúdo */
        display: inline-block; /* Para que cada div ocupe apenas o espaço necessário */
            #BtnPro2 {
                width: 50%;
            
                margin-top: 10px;
                padding: 10px 20px;
                }
        }
}

.Carrinho {
    border: 2px solid #ccc;
}

